#Relatório de Análise VI

##Criando novas variáveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel_residencial (1).csv', sep=';')
dados.head(10)

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

In [3]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
...,...,...,...,...,...,...,...,...,...,...,...
21821,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0
21822,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0
21823,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0
21824,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0
21825,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0

In [4]:
dados['Valor m2'] = dados['Valor'] / dados['Area']
dados

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
21821,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.857143
21822,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.629630
21823,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.076923
21824,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.166667
21825,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.857143

In [5]:
dados['Valor m2'] = dados['Valor m2'].round(2)

In [6]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)
dados

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21821,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54
21822,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52
21823,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85
21824,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54
21825,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71

In [7]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [8]:
dados['Tipo Agregado']  = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')
dados

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21821,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54,Apartamento
21822,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52,Apartamento
21823,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85,Apartamento
21824,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54,Apartamento
21825,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71,Apartamento

## Excluir Variáveis

In [14]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [15]:
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0   Apartamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2   Apartamento     53.33       1210.0           80.67
3   Apartamento     16.67       1030.0           21.46
4   Apartamento     26.00       1618.0           32.36
5          Casa     29.33      22000.0           29.33
6          Casa     15.38       1000.0           15.38
7   Apartamento     21.43       2216.0           31.66
8   Apartamento     16.67       1969.0           21.88
9   Apartamento     50.00       2611.0           65.28

In [16]:
del dados_aux['Valor Bruto']
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor Bruto m2
0   Apartamento     42.50           56.50
1          Casa     70.00           70.00
2   Apartamento     53.33           80.67
3   Apartamento     16.67           21.46
4   Apartamento     26.00           32.36
5          Casa     29.33           29.33
6          Casa     15.38           15.38
7   Apartamento     21.43           31.66
8   Apartamento     16.67           21.88
9   Apartamento     50.00           65.28

In [17]:
dados_aux.pop('Valor Bruto m2')
dados_aux.head(10)

  Tipo Agregado  Valor m2
0   Apartamento     42.50
1          Casa     70.00
2   Apartamento     53.33
3   Apartamento     16.67
4   Apartamento     26.00
5          Casa     29.33
6          Casa     15.38
7   Apartamento     21.43
8   Apartamento     16.67
9   Apartamento     50.00

In [18]:
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)

In [19]:
dados.head(10)

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

In [21]:
dados.to_csv('aluguel_residencial2.csv', sep=';', index = False)